#root {
  /* i had to take it out and move parts to '.location-container' bacause i wanted to make a full size navbar*/
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}