#root {
  /* i had to take it out and move parts to '.location-container' bacause i wanted to make a full size navbar*/
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.navHeader {
  margin: 15vh auto 0 auto ;
  width: min-content;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  /* background: linear-gradient(180deg, rgba(0,0,0,0) 0%, hsla(0, 0%, 0%, 0.4) 50%, rgba(0,0,0,0) 100%); */
}
.navHeader > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 0 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
  margin-right: 0;
  cursor: default;
  width: calc(30rem + 10vw);
}

.navHeader > div:hover {
  cursor: pointer;
}

.navHeader > div:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
}

.navHeader button {
  height: 1.5rem;
  padding: 0 0.2rem;
  margin: 0;
  border-radius: 0 20% 20% 0;
  border: none;
  vertical-align: bottom;
}
.navHeader input {
  height: 1.5rem;
  width: calc(10rem + 10vw);
  padding: 0;
  margin: 0 0 0 0.2rem;
  border: none;
  border-radius: 5px 0 0 5px;
}
.navHeader input:focus,
.navHeader input:hover {
  outline: none;
  border: 1px solid cadetblue ;
}

.navHeader button:hover {
  background-color: cadetblue;
}

